<div style="padding: 50px;">
 <h1 class="text-center">Clientes</h1>
 <br>
    <div class="text mb-3">
    <button class="btn btn-primary" (click)="nuevoCliente()">
    Nuevo Cliente
    </button>
    </div>
 <div class="card p-3 mb-4" *ngIf="mostrarFormulario">

    <div class="row">

    <div class="col">
    <input class="form-control" placeholder="Nombre" [(ngModel)]="cliente.nombre">
    </div>

    <div class="col">
    <input class="form-control" placeholder="Celular" [(ngModel)]="cliente.celular">
    </div>

    <div class="col">
    <input class="form-control" placeholder="Correo" [(ngModel)]="cliente.correo">
    </div>

    <div class="col">
    <input class="form-control" placeholder="Dirección" [(ngModel)]="cliente.direccion">
    </div>

    <div class="col">

    <button *ngIf="!editando" class="btn btn-success" (click)="crearCliente()">
    Crear
    </button>

    <button *ngIf="editando" class="btn btn-warning" (click)="actualizarCliente()">
    Actualizar
    </button>

    </div>

    </div>
</div>

 <table class="table table-hover">
    <thead class="table-danger">
        <tr>
            <!-- <th scope="col">Id</th> -->
            <th scope="col">Nombre</th>
            <th scope="col">Celular</th>
            <th scope="col">Correo</th>
            <th scope="col">Dirección</th>
            <th scope="col">Acciones</th>    
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let item of clientesList; let i = index">
            <!-- <th scope="row">{{item.id}}</th> -->
            <td>{{item.nombre}}</td>
            <td>{{item.celular}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.direccion}}</td>
            <td>
            <button class="btn btn-warning btn-sm"
            (click)="editarCliente(item)">
            Editar
            </button>
            |
            <button class="btn btn-danger btn-sm"
            (click)="eliminarCliente(item.id)">
            Eliminar
            </button>
            </td>
        </tr>
    </tbody>

 </table>
</div>
